{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
<style>

</style>

<div><p>Vous n'êtes pas sur le bon site, redirection ici</p></div>
{% endblock %}
