{% extends 'base.html.twig' %}

{% block title %}Hello LoginController!{% endblock %}

{% block body %}
<style>
    body{margin:0;padding:0}
    .accueilIMG{width:100vw; height:99.6vh; object-fit: cover;}
    .FormLogin{display:flex; flex-direction:column; justify-content:center; position:absolute; top:45%; left:50%; transform: translate(-50%, -50%);text-align:center; gap:50px; width:25%;}
    .DivLogin{display:flex; flex-direction:column;gap:15px}
    .LabelLogin{color:black; font-size:35px}
    .InputLogin {width:20vw; height:3.5vh;border-radius:5vw;margin-left:2.5vw; text-align:center}
    .BtnLogin{width:15vw; height:4vh; border-radius:20px; margin-left:5vw; color:#FFD500; background-color:#004077}
</style>

    {% if error %}
        <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

    <form action="{{ path('app_login') }}" method="post" class="FormLogin">
        <div class="DivLogin">
            <label for="username" class="LabelLogin">Email:</label>
            <input class="InputLogin" type="text" id="username" name="_username" value="{{ last_username }}">
        </div>
        <div class="DivLogin">
            <label for="password" class="LabelLogin">Mot de passe :</label>
            <input class="InputLogin" type="password" id="password" name="_password">
        </div>
        {# If you want to control the URL the user is redirected to on success
        <input type="hidden" name="_target_path" value="/account"> #}

        <button class="BtnLogin" type="submit">Connexion</button>
    </form>
    {% for accueilIMG in accueilIMG %}
        {% if accueilIMG.id == 1 %}
            <img class="accueilIMG" src="http://localhost:8000/uploads/{{ accueilIMG.imageName}}"</p>
        {% endif %}
    {% endfor %}
{% endblock %}
